@model SapatosWeb.ViewModels.ClientesViewModel


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

</p>

<h1>PF</h1>

<p>
    @Html.ActionLink("Create New", "CreatePF")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("CPF")
        </th>
        <th>
            @Html.DisplayName("DataNasc")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ClientesPF)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.ActionLink("EditPF", "EditPF", new { id = item.Id }) |
                @Html.ActionLink("DeletePF", "DeletePF", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<h1>PJ</h1>

<p>
    @Html.ActionLink("Create New", "CreatePJ")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome")
        </th>

        <th>
            @Html.DisplayName("CNPJ")
        </th>
        <th>
            @Html.DisplayName("Rasão Social")
        </th>
        <th>
            @Html.DisplayName("Endereço")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ClientesPJ)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.ActionLink("EditPJ", "EditPJ", new { id = item.Id }) |
            @Html.ActionLink("DeletePJ", "DeletePJ", new { id = item.Id })
        </td>
    </tr>
    }

</table>



